@charset "UTF-8";

form {
	
	width: 500px;
	margin: auto;
}

input, textarea{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	
}

input:hover, textarea:hover{
	
	background-color:#dddddd;
}

legend{
	
	font-family: sans-serif;
	font-size: 13pt;
	font-weight: bold;
	color:#888888;
}

fieldset{
	
	border-color: #cecece;
	margin: 20px;
}

fieldset#mensagem textarea{
	
	mangin-right: 20px;
}